.pricingCon{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 80px;
}
.singlePricing{
     border: 10px solid rgba(146, 146, 146, 0.233);
}

.pricingHeadBg{
     background-color: #18ACCD;
     color: white;
     padding: 50px 0;
}


@media only screen and (max-width: 688px) {
     .pricingCon{
          grid-template-columns: repeat(1, 1fr);
     }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
     .pricingCon{
          grid-template-columns: repeat(2, 1fr);
     }
}