.singleMeetImg{
     width: 300px;
     height: 250px;
}
.dr{
     color: rgb(99, 99, 99);
}
.specilistDes{
     background-color: rgba(95, 179, 248, 0.178);
     padding: 7px 15px;
}
.nameImgDesParaCon{
     border: 1px solid rgba(128, 128, 128, 0.411);
     box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.397);
     padding: 0px 0px 30px 0px;
     border-radius: 4px;
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
     .singleMeetImg{
          width: 400px;
          height: 300px;
     }
}